body {
  margin: 0;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  position: absolute; /* Ensure the canvas is positioned absolutely */
  top: 0;
  left: 0;
}

.slider-wrapper, .button-wrapper {
  position: fixed; /* Fixed positioning for mobile and desktop */
  z-index: 1000; /* Ensure the elements stay on top */
  padding: 10px;
  background-color: white; /* Optional: Background color for visibility */
  -webkit-backface-visibility: hidden; /* Fix for mobile browsers */
  transform: translate(0, 0); /* Positioning using transform */
}

#button-container, #button-container-bottom {
  left: 0;
  width: 100%; /* Full width for buttons */
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  gap: 5px; /* No gap between buttons */
  padding: 10px;
  background-color: #FAFAFA;
}

#button-container {
  top: 0;
}

#button-container-bottom {
  bottom: 0;
}

#button-container img, #button-container-bottom img {
  margin: 0; /* Ensure no margin between buttons */
  padding: 0; /* Ensure no padding between buttons */
}

@media (max-width: 768px) {
  .slider-wrapper {
    transform: translate(0px, 0px); /* Adjust position for mobile */
  }

  #button-container {
    transform: translate(0px, 0px); /* Adjust position for mobile */
  }
  
  #button-container-bottom {
    transform: translate(0px, 0px); /* Adjust position for mobile */
  }
}